@import url('./SystemBar.min.css');
@import url('./SearchBar.min.css');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	user-select: none;
}

th {
	white-space: nowrap;
}

// html {
// 	min-height: 100vh;
// 	display: flex;
// 	flex-direction: column;
// 	flex-wrap: wrap;
// 	align-items: stretch;
// }